<section class="header">
  <div class="middle">
    <div class="hol">

      <h1 class="text-black fw-bold">
        Explore premium <span>car rental</span>
      </h1>

      <div class="searcher">
        <div class="row">
          <div class="col-md-5">
            <label for="">Your location</label>
            <input class="form-control form-control-sm" type="text"  placeholder="We deliver the car to you" aria-label=".form-control-sm example">

          </div>
          <div class="col-md-5">
            <label for="">Pick up date</label>
            <input class="form-control form-control-sm" type="date"  aria-label=".form-control-sm example">

          </div>

          <div class="col-md-2">
            <label for="">Pick up time</label>
            <input class="form-control form-control-sm" type="time"  aria-label=".form-control-sm example">

          </div>
          <div class="col-md-5">
            <label for="">Return date</label>
            <input class="form-control form-control-sm" type="date"  aria-label=".form-control-sm example">
          </div>
          <div class="col-md-5">
            <label for="">Return time</label>
            <input class="form-control form-control-sm" type="time"  aria-label=".form-control-sm example">
          </div>
         
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Find a car</button>

          </div>


        </div>
      </div>
    </div>
  </div>
</section>

<app-cars></app-cars>
