// @import "~bootstrap/dist/bootstrap.min.css" 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './assets/styles/colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif !important;
  background: $silver !important;

}

.cloud-bg {
  background: #ffffff !important;
  box-shadow: $box-shadow;

}

.btn-primary {
  background: linear-gradient(to right, $primary, $dark-primary) !important;
  border: 1px solid $primary !important;
  padding: .65em 1em !important;
}

input[type=text],
input[type=date],
input[type=time],
textarea,
select {
  background: $silver !important;
  border-radius: .2em !important;
  border: none !important;
  margin-bottom: 2em !important;
  padding: .75em !important;

}

a {
  cursor: pointer !important;
}

.forms {
  max-width: 50em;
  margin: 4em auto;
  border-radius: 1em;
  background: $white;
  padding: 2em;
  box-shadow: $box-shadow;
}

.actions {
  display: flex;
  justify-content: right;
  padding: .5em;
}

.search {
  margin-right: 2em;
  padding: .5em 1em;
  border-radius: 2em;
}

.line-break {
  white-space: pre-wrap;
}

img {
  width: 100%;
}

.feature {
  display: grid;
  grid-template-columns: 2em auto;
  // border: 1px solid red;
  margin: .4em 0;

  img {
    width: 1.5em;
  }

  p {
    padding: .5em;
    margin: 0;
    text-align: left;
    font-weight: 600;
    font-size: .7em;
    text-transform: uppercase;
  }
}
