$primary :#BF0303;
$dark-primary :#5d0101;
$black :#000;
$white :#fff;
$silver :#ecf0f1;
$cloud :#c8d6e5;
// $box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
$box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;